DatabaseManager/Connected Services/ServiceReference/ScadaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADA_Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADA_Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alarm" nillable="true" type="tns:Alarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarm" nillable="true" type="tns:ArrayOfAlarm" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="alarmDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="alarmId" type="xs:int" />
      <xs:element minOccurs="0" name="alarmType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:complexType name="ListOfTags">
    <xs:sequence>
      <xs:element minOccurs="0" name="analogInputTags" nillable="true" type="tns:ArrayOfAnalogInput" />
      <xs:element minOccurs="0" name="analogOutputTags" nillable="true" type="tns:ArrayOfAnalogOutput" />
      <xs:element minOccurs="0" name="digitalInputTags" nillable="true" type="tns:ArrayOfDigitalInput" />
      <xs:element minOccurs="0" name="digitalOutputTags" nillable="true" type="tns:ArrayOfDigitalOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfTags" nillable="true" type="tns:ListOfTags" />
  <xs:complexType name="ArrayOfAnalogInput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalogInput" nillable="true" type="tns:AnalogInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalogInput" nillable="true" type="tns:ArrayOfAnalogInput" />
  <xs:complexType name="AnalogInput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InputTag">
        <xs:sequence>
          <xs:element minOccurs="0" name="highLimit" type="xs:float" />
          <xs:element minOccurs="0" name="lowLimit" type="xs:float" />
          <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnalogInput" nillable="true" type="tns:AnalogInput" />
  <xs:complexType name="InputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="enableScan" type="xs:boolean" />
          <xs:element minOccurs="0" name="manualMode" type="xs:boolean" />
          <xs:element minOccurs="0" name="scanTime" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InputTag" nillable="true" type="tns:InputTag" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ioAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="ArrayOfAnalogOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalogOutput" nillable="true" type="tns:AnalogOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalogOutput" nillable="true" type="tns:ArrayOfAnalogOutput" />
  <xs:complexType name="AnalogOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OutputTag">
        <xs:sequence>
          <xs:element minOccurs="0" name="highLimit" type="xs:float" />
          <xs:element minOccurs="0" name="lowLimit" type="xs:float" />
          <xs:element minOccurs="0" name="units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnalogOutput" nillable="true" type="tns:AnalogOutput" />
  <xs:complexType name="OutputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="initValue" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutputTag" nillable="true" type="tns:OutputTag" />
  <xs:complexType name="ArrayOfDigitalInput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DigitalInput" nillable="true" type="tns:DigitalInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDigitalInput" nillable="true" type="tns:ArrayOfDigitalInput" />
  <xs:complexType name="DigitalInput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InputTag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalInput" nillable="true" type="tns:DigitalInput" />
  <xs:complexType name="ArrayOfDigitalOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DigitalOutput" nillable="true" type="tns:DigitalOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDigitalOutput" nillable="true" type="tns:ArrayOfDigitalOutput" />
  <xs:complexType name="DigitalOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OutputTag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalOutput" nillable="true" type="tns:DigitalOutput" />
</xs:schema>